
  <div class="col span_1_of_1">
    <h1>Welcome, <%= @user.name %></h1>
    <form class="task_creator" action="/tasks/new" method="post">
      <input class='handle' type="text" name="doer" placeholder="@username"> 
      <input class='body' type="text"name="body" placeholder="Enter your task!">
     <input class='button' type="submit" name="submit_task" value="2Do!">
    </form>
  </div>

<div class="section group">
  <div class="col span_1_of_3">
    <h2>Incoming</h2>
      <ul>
        <% if @user.incoming %>
          <% @user.incoming.each do |task| %>
          <table>
           <tr>
            <td><%= task.body %></td>
            <td><a href ='/tasks/<%= task.id %>/accept'>YES</a></td>
            <td><a href ='/tasks/<%= task.id %>/reject'>NO</a></td>
           </tr>
          </table>
          <% end %>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Accepted</h2>
      <ul>
        <% if @user.accepted %>
          <% @user.accepted.each do |task| %>
           <li><a href="/tasks/<%=task.id%>/complete"><%= task.body %></a>DONE!</li>
          <% end %>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Requests</h2>
      <ul>
        <% if @user.requests %>
          <% @user.requests.each do |task| %>
            <table>
             <tr>
              <td><a href="/tasks/<%=task.id%>"><%= task.body %></a></td>
              <td><%= task.status %></td>
             </tr>
            </table>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>

