<div class="container">
  <h1>Welcome, <%= @user.name %></h1>
  <form class="task_creator" action="/tasks/new" method="post">
    <input type="text" name="doer" placeholder="@username"> 
    <textarea name="body" placeholder="What do you want them to do?"></textarea>
    <input type="submit" name="submit_task" value="2Do!">
  </form>

<div class="section group">
  <div id="incoming" class="col span_1_of_3">
    <h2>Incoming</h2>
      <ul>
        <% if @user.obligations.incoming %>
        <table>
          <thead>
            <th>Task</th>
            <th>Sender</th>
            <th>Action</th>
          </thead>
          <% @user.incoming.each do |task| %>
           <tr>
            <td><%= task.body %></td>
            <td>@<%= User.find(task.asker_id).handle %></td>
            <td><a href ='/tasks/<%= task.id %>/accept'>Accept</a></td>
            <td><a href ='/tasks/<%= task.id %>/reject'>Reject</a></td>
           </tr>
          <% end %>
          </table>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Accepted</h2>
      <ul>
        <% if @user.obligations.accepted %>
        <table>
          <thead>
            <th>Task</th>
            <th>Sender</th>
            <th>Complete</th>
          </thead>
          <% @user.accepted.each do |task| %>
          <tr>
            <td><%= task.body %></td>
            <td>@<%= task.asker.handle %></td>
            <td><a href="/tasks/<%=task.id%>/complete">DONE!</a></td>
            </tr>
          <% end %>
          </table>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Requests</h2>
      <ul>
        <% if @user.requests %>
        <table>
          <% @user.requests.each do |task| %>
            <thead>
            <th>Task</th>
            <th>To</th>
            <th>Status</th>
            </thead>
             <tr>
              <td><%= task.body %> </td>
              <td>@<%= task.doer.handle %> </td>
              <td><%= task.bluejay %> </td>
             </tr>
          <% end %>
          </table>
        <% end %>
      </ul>
  </div>
</div>

</div>
