<div class="container">
  <h1>Welcome, <%= @user.name %></h1>
  <form class="task_creator" action="/tasks/new" method="post">
    <input type="text" name="doer" placeholder="@username"> 
    <textarea name="body" placeholder="What do you want them to do?"></textarea>
    <input type="submit" name="submit_task" value="2Do!">
  </form>

<div class="section group">
  <div id="incoming" class="col span_1_of_3">
    <h2>Incoming</h2>
      <ul>
        <% if @user.obligations.incoming %>
          <% @user.incoming.each do |task| %>
        <li>
          <table>
           <tr>
            <td><%= task.body %></td>
            <td><a href ='/tasks/<%= task.id %>/accept'>YES</a></td>
            <td><a href ='/tasks/<%= task.id %>/reject'>NO</a></td>
           </tr>
          </table>
      </li>
          <% end %>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Accepted</h2>
      <ul>
        <% if @user.obligations.accepted %>
          <% @user.accepted.each do |task| %>
           <li><%= task.body %><a href="/tasks/<%=task.id%>/complete">DONE!</a></li>
          <% end %>
        <% end %>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Requests</h2>
      <ul>
        <% if @user.requests %>
          <% @user.requests.each do |task| %>
            <table>
             <tr>
              <td><a href="/tasks/<%=task.id%>"><%= task.body %></a></td>
              <td><%= task.bluejay %></td>
             </tr>
            </table>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>

</div>
